/* Обнуление */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: default;
}

ul,
li {
    list-style: none;
}

html,
body {
    height: 100%;
    background-color: #fafafa;
    font-size: 20px;
    font-family: Montserrat;
}

/*---------------------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 800px;
    margin: 100px auto;
    box-sizing: content-box;
}

.main__container {
    align-items: center;
}

.main__list {
    display: flex;
    flex-direction: column;
}

.main-item {
    margin: 50px;
}
.main__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    transition: all .5s ease-out;
}

.main__link:hover {
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 32px;
    color: darkcyan;
}
